 
* {
  box-sizing: border-box;
}


body, html{
    height:100%;
    margin:0;
    font-size:13px;
    font-family:"Lato", sans-serif;
    font-weight:400;
    line-height:1.8em;
    color:#a3a3a3;
    /* background-color: rgba(189, 10, 10, 0.604); */
    background-image: linear-gradient(90deg, #241096, #6867b6); 
  }


  
  .ask-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;        
    font-size: 24px;
  }

  .btn-answer{
    border-radius: 10px;
    background-color: transparent;
    margin: 10px;
    padding: 10px;
    color: #fff;
  }




  .circle-container {
    position: relative;
    top: 50px;
    right: 50px;
  }
  
  .circle {
    background-color: #463e3e;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;    
  }

  #popquizz {
    position: absolute;    
  }
  

  


  .flexbox-container{
    display: flex;
    flex-wrap: wrap;      
  }
  
  .flexbox-container-aside{
    display: flex;
    flex-direction: column;
    background-color: rgb(10, 4, 2);
  }
  .flexbox-item{
    margin: 10px;    
    border: solid #fff 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #fff;    
  }

  .flexbox-item img{
    max-height: 200px;
    max-width: 250px;
    height: 40%;
  }
  
  .btnLink{    
    color: #fff;     
    width: 90%;
    text-align: center;
    border: solid #fff 1px;
    border-radius: 10px;
    text-decoration: none;
  }

  .curso-item{
    
    height: 50vh;
    flex: 0.5;
    margin: 10px;
    position: relative;
    color:#fff;
    
  }

  .btnTomar{
    position: absolute;
    bottom: 30px;
    left: 0px;
    background-color:#fff; 
    color:rgba(189, 10, 10, 0.604); ;
    
  }

  .btnRegresar{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: transparent;
    color: #fff;
     
  }
   
  .curso-item img{
    max-height: 50%;   
  }
  
  


/*

http://react.tips/dropdowns-in-react-16/

*/
  .main-item {
    background-repeat: no-repeat;
    background-color: #595c56;
    height: 70vh;    
    border-radius: 50px;
    color: #fff;
    
    margin: 10px;
    position: relative;

    width: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    
  }
  
  .main-item h3 {
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    left: 10px;    
    margin: 0;
    opacity: 1;
  }
   
  .main-item img{
    max-height: 30%;
    max-width: 250px;  
  }
  
  
 
  